@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body{
  overflow-x: hidden;
}



 
 li{
  margin: 0 24px;
    list-style: none;
    font-weight: bold;
}  

/* .watermark-form {
  background-image: url('/logo1.png'); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
} */
.watermark-form::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.3; 
}

 

